{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block header %}
  <h1>{% block title %}Tables management - {% if action == 'create' %} Create {% else %} Edit {% endif %} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ render_field(form.name) }}
    {{ render_field(form.x) }}
    {{ render_field(form.y) }}
    {{ render_field(form.width) }}
    {{ render_field(form.height) }}
    {{ render_field(form.status) }}
    {{ render_field(form.multiple) }}
    {{ render_field(form.playstation) }}
    {{ render_field(form.max_capacity) }}
    <button type="submit">Create</button>
  </form>
{% endblock %}
