

 # @todo #299:30min Continue the deploy algorithm. We need to create an
 #  employee with role administator belonging to company "Timeless" and
 #  credentials that will be taken by encrypted credential file.

[Unit]
Description=PostgreSQL DB Timeless
Documentation=man:postgres(1)

[Service]
Type=forking
User=postgres
ExecStart=/usr/lib/postgresql/10/bin/postgres -D /etc/postgresql/10/main
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
