{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}


{% cache 600 %}
{% block header %}
  <h1>{% block title %}Reservation management - {% if action == 'create' %}  Create {% else %} Edit {% endif %} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ render_field(form.start_time) }}
    {{ render_field(form.end_time) }}
    <select name="customer_id" id="customer_id">
      {% for customer in customers %}
          <option {% if customer.selected %}selected="selected"{% endif %}
          value="{{ customer.id }}">{{ customer.name}}</option>
      {% endfor %}
    </select>
    {{ render_field(form.num_of_persons) }}
    {{ render_field(form.comment) }}
    {{ render_field(form.status) }}
    {{ render_field(form.multiple) }}
    <label for="customer_id">Customer</label>
    <select name="customer_id" id="customer_id">
      {% for customer in customers %}
          <option {% if customer.selected %}selected="selected"{% endif %}
          value="{{ customer.id }}">{{ customer.name}}</option>
      {% endfor %}
    </select>
    <br/>
    <br/>
    <label for="tables">Tables</label>
    <select name="tables" id="tables" multiple="true">
      {% for shape in shapes %}
        <option {% if table.selected %}selected="selected"{% endif %} value="{{
        table.id }}">{{ table.name}}</option>
      {% endfor %}
    </select>
    <br/>
    <input type="submit" value="{% if action == 'create' %} Create {% else %} Update {% endif %}">
    <a class="action" href="{{ url_for('reservations.list_reservations')
    }}">Cancel</a>
  </form>
{% endblock %}
{% endcache%}