{% extends 'base.html' %}
{% cache 600 %}
{% block header %}
    <h1>{% block title %}Employees management - Main{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for employee in object_list %}
        <article class="employee">
        <header>
            <div>
            <h1>{{ employee['username'] }}</h1>
            </div>
            <a class="action" href="#">Edit</a>
        </header>
        <p class="column">Name: {{ employee['first_name'] }} {{ employee['last_name'] }}</p>        
        <p class="column">Registration date: {{ employee['registration_date'] }}</p>
        <p class="column">Account status: {{ employee['account_status'] }}</p>
        <p class="column">User status: {{ employee['user_status'] }}</p>
        <p class="column">Company name: {{ employee['company.name'] }}</a></p>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
{% endcache %}
