{% extends 'base.html' %}
{% cache 600 %}
{% block header %}
    <h1>{% block title %}Floors management - Main{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for floor in object_list %}
        <article class="floor">
        <header>
            <div>
            <h1>{{ floor['description'] }}</h1>
            </div>
            <a class="action" href="{{ url_for('floor.edit', id=floor['id']) }}">Edit</a>
            <a class="action" href="{{ url_for('floor.delete', id=floor['id']) }}">Destroy</a>
        </header>
        <p class="location">{{ floor['location'] }}</p>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
{% endcache %}
