{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block header %}
  <h1>{% block title %}Table shapes management - {% if action == 'create' %} Create {% else %} Edit {% endif %} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ render_field(form.description) }}
    {{ render_field(form.picture) }}
    <p>
      <button type="submit">Create</button>
    </p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  </form>
{% endblock %}
