{% extends 'base.html' %}
{% block header %}
    {% cache 600 %}
        <h1>{% block title %}Table shapes management - Main{% endblock %}</h1>
    {% endcache %}
{% endblock %}

{% block content %}
    {% cache 600 %}
        <form name="filter" target="_self" id="table_filter"/>
            Description:<br>
            <input type="text" name="filter_by" value="description=">
            <br>
            <input type="submit" name="submit" value="submit">
        </form>
        {% for table_shape in table_shapes %}
            <article class="table_shape">
                <header>
                    <a class="action" href="{{ url_for('table_shape.edit', id=table_shape['id']) }}">Edit</a>
                </header>
                <p class="description">{{ table_shape['description'] }}</p>
                <img src="{{ table_shape['picture'] }}"/>
            </article>
            {% if not loop.last %}
            <hr>
            {% endif %}
        {% endfor %}
    {% endcache %}
{% endblock %}

