##############################
## POSTGRESQL BACKUP CONFIG ##
##############################

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
BACKUP_USER=

# Optional hostname to adhere to pg_hba policies.  Will default to "localhost" if none specified.
HOSTNAME=

# Optional username to connect to database as.  Will default to "postgres" if none specified.
USR=

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
BACKUP_DIR=/tmp/backup

#DATABASE NAME
DATABASE="timelessdb"

# Google Drive backup settings
SERVICE_ACCOUNT_CREDENTIALS=timeless-db-backup.json
TIMEOUT=0
BACKUP_PATH=./
FILE_ID=

######################################
