##############################
## POSTGRESQL BACKUP CONFIG ##
##############################

# Optional system user to run backups as.
# Script will be terminated if the user does't match.
# Leave it blank to skip the check.
BACKUP_USER=

# Optional hostname to adhere to pg_hba policies.
# "localhost" if not specified.
HOSTNAME=

# Optional username to connect to database as.
# "postgres" if not specified.
USR=

# The directory will be created if not exists.
# Have to be writable by backup user.
BACKUP_DIR=/tmp/backup

# Database name
DATABASE="timelessdb"

# Google Drive backup settings
SERVICE_ACCOUNT_CREDENTIALS=timeless-db-backup.json
TIMEOUT=0
BACKUP_PATH=./
FILE_ID=

######################################
