{% extends 'base.html' %}

{% block header %}
    {% cache 600 %}
        <h1>{% block title %}Reservations{% endblock %}</h1>
    {% endcache %}
{% endblock %}

{% block content %}
    {% cache 600 %}
        <table id="reservation-table" class="tablesorter">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Number of persons</th>
                    <th>Comment</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in object_list %}
                <tr>
                    <td>{{ reservation['id'] }}</td>
                    <td>{{ reservation['start_time'] }}</td>
                    <td>{{ reservation['end_time'] }} </td>
                    <td>{{ reservation['num_of_persons'] }}</td>
                    <td>{{ reservation['comment'] }}</td>
                    <td>{{ reservation['status'] }}</td>
                    <td>
                        <a class="action" href="{{ url_for('reservations.edit', id=reservation['id']) }}">Edit</a>
                        <a class="action" href="{{ url_for('reservations.delete', id=reservation['id']) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endcache %}
{% endblock %}

