<!doctype html>
<title>{% block title %}{% endblock %} - Timlessis</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<!--
@todo #460:30min Change the style of login page. Make the image for the
 login page like shown in UX documentation, then apply the image to the
 background of login page so it becomes equals to the image below
 https://drive.google.com/uc?export=view&id=1oh8cLv-vHTCBmb0RDkHQiyMythC4_M6o
-->
<div class="form-wrap">
  <form method="post">
    <h1>TIMELESS IS</h1>
    <h3>Login</h3>

    <div class="container">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
    </div>
  </form>
</div>
